
.button-class{

        display: flex; /* Use flexbox para alinhar horizontalmente */
        justify-content: space-between; /* Distribui o espaço igualmente entre os botões */
        padding: 10px; /* Espaçamento externo para o container de botões */
        
      
}
h3{
    margin-top: 70px;
}
.button {
    flex: 1; /* Distribui o espaço igualmente entre os botões */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px; /* Espaçamento interno dos botões */
    background-color: #2c285f; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Adiciona uma transição suave */
    margin-bottom: 10px; 
    margin-right: 10px;
    
   
  }
  .button2 {
    flex: 1; /* Distribui o espaço igualmente entre os botões */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px; /* Espaçamento interno dos botões */
    background-color: #2c285f; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Adiciona uma transição suave */
    margin-bottom: 10px; 
    margin-left: 5px;
  }
  
